
:root {
    --bg: url('/assets/bg1.jpg');

    background-image: var(--bg);
     background-size:cover;
    height:100%;
}

@font-face {
  font-family: 'MyFont';
  src: url('/assets/SpecialElite-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


p{
   font-family: MyFont, sans-serif;
   line-height:25px;
}

